.main {
  height: 50em;
  background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 0.74) 0%,
      rgba(0, 0, 0, 0.616) 10%,
      rgba(0, 212, 255, 0) 40%
    ),
    url(../../media/images/mariachi.jpg);
  background-size: cover;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin-left: auto;
  text-transform: capitalize;
  font-size: 2em;
  font-weight: 400;
  color: #fff;
}
.links a:link {
  text-decoration: none;
  color: #fff;
}

.links a:active {
  text-decoration: none;
  color: #fff;
}
.links a:hover {
  text-decoration: underline;
  color: #fff;
}
.links a:visited {
  text-decoration: none;
  color: #fff;
}

.links div {
  color: white;
  margin-top: 1.5em;
  margin-right: -1em;
}
