.main {
  background-color: red;
  padding: 0 2em 0 5em;
}

.main > div:first-child {
  padding-top: 0.5em;
}
.main > div:first-child p {
  color: white;
  font-weight: 600;
  font-size: 2em;
  text-transform: capitalize;
}

.main > div:last-child button {
  border: none;
  background-color: #366344;
  border-radius: 0.75em;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.25em 0.75em;
  font-size: 2.5em;
}
