.headerBgColor {
  background-color: #d8e3e7;
}

.youtubeLogo {
  height: 20px;
}

.headerBrand {
  font-family: "Dancing Script";
}

.langOptions {
  color: black;
  font-size: 2em;
}
.chosenLang {
  color: red!important;
  font-size: 2em;
}

#nav{
  background-color: #E3E3E3 !important;
}